                        <div id="zone-footer-wrapper">
                                <div id="zone-footer">
                                        <img src="#" alt="Advanced Config Button" class="button" />
                                        <img src="#" alt="Help Button" class="button" />
                                        <img src="#" alt="Admin Menu Button" class="button" />
                                        <img src="#" alt="Quit Quickstart Wizard Button" class="button" />
                                </div>
                        </div>
        </body>
</html>

