                        <div id="zone-footer-wrapper">
                                <div id="zone-footer">
                                <!-- Needs actual path to images -->
                                        <img src="images/target.png" alt="Advanced Config Button" class="button" />
                                        <img src="images/greendot.png" alt="Help Button" class="button" />
                                        <img src="images/equal.png" alt="Admin Menu Button" class="button" />
                                        <img src="images/quit.png" alt="Quit Quickstart Wizard Button" class="button" />
                                </div>
                        </div>
        </body>
</html>
