<!---
		Seems like there should be a way to reuse this in logoInfoBanner
				-->
			<header>
				<!-- top level navigational elements -->
				<div id="navbar-inners">
					<div class="color0"></div>
					<div class="color1"></div>
					<div class="color2"></div>
					<div class="color3"></div>
					<div class="color4"></div>
				</div>
				<div id="zone-preface-wrapper">
					<div id="zone-preface">
						<hr />
						<!-- h1 functionally identical to title for accessibility -->
						<h1><%=title%></h1>
						<!-- Rest of header content -->
						<h2><%=topheader%></h2>
						<p><%=subheading%></p>
					</div>
				</div>
			</header>
