<!-- Check my syntax. First for loop should render in column 2 with
		all the known/nearby meshes. If statement in column 2 should print
		the checkmark image if the full config is available -->

			<div id="meshDisplay">
				<table summary="List of nearby meshes" class="near">
					<caption>
						<img src="images/check.png" alt="Checkmark Icon" /> = Full automatic configuration available
					</caption>
					<tbody>
						<tr>
							<th scope="col">Automatic</th>
							<th scope="col">Type of network</th>
						</tr>
						<%-
							for _,x in ipairs(networks) do
								name = x.name
								config = x.config
								configID = x.configID
							-%>
						<tr>
							<td>
								<%-
									if config~=nil do
								-%>
										<img src="<%media%>/images/check.png" alt="Full configuration available" class="true" />
								<%end%>
							</td>
							<td><a href="<%=function_url%>?config=<%=name%>"><%=name%>/</a></td>
						</tr>
						<%end%>
					</tbody>
				</table>
			</div>
