<!-- Is this tied to the node in any way or just a straight 2 minute countdown? -->
<div>
	<p>Please reconnect to the wireless access point</p>
	<p class="qs_ap_name">
		<%-sync var name with QS_basicInfo_main-=qs_ap_name%>
	</p>
	<p>in</p>
	<!-- from http://stackoverflow.com/questions/11082210/what-to-use-in-order-to-count-down-in-seconds-from-a-fixed-minute-in-lua -->
	<div id="timer">
		local time = 120
		local function decreaseTime()
			time = time-1
			print(time)
		end

		timer.performWithDelay(1000,decreaseTime,60)
	</div>
	<p>minutes to finish configuring this node.</p>
</div>
