<div class="share_services">
<form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">  
<%- for i,x in ipairs(share_service) do
	    svc_name = x.svc_name
        svc_value = x.svc_value
     	svc_help = x.svc_help
        svc_description = x.svc_description	
-%>
 <label> <input name="<%=svc_name%>" value="<%=svc_value%>" type="checkbox" onchange='handlechange(<%=svc_value%>);'>
  <%=svc_description%></label>

  <!--  <img src="s2e-question" class="help_icon" onClick()>
	  help icon could be handled in a couple of ways. May want to stick to click since touchscreens don't support hover.

	OnClick: toggle help visibility
		-->
  <div class="help_text">
    <strong><%=svc_name%>:</strong>
    <%=svc_help%>
  </div>
<%end%>
</div>

<label><input type='checkbox' onchange='handleChange(this);'>Checkbox</label>

