<div class="share_services">
  <!-- Better: Parse table containing list of sharable services (name) and descriptions.
	Build input fields from list
		-->
<%- for i,x in ipairs(share_service) do
	      svc_name = x.name
	      svc_h_name = x.help_name
	      svc_help = x.help_text
          svc_description = x.description	
-%>
  <input name="<%-=svc_name-%>" value="<%-=svc_value-%>" type="checkbox">
  <%-=svc_description-%>
  <img src="s2e-question" class="help_icon" onClick()>
  <!-- help icon could be handled in a couple of ways. May want to stick to click since touchscreens don't support hover.

	OnClick: toggle help visibility
		-->
  <div class="help_text">
    <strong><%-=svc_name-%>:</strong>
    <%-=svc_help-%>
<%end%>
  </div> 
</div>
