
<%-
      topheader="Congratulations, your setup is complete."
      subheading="Click the button below to be redirected to the administrator login for this node."
      PageTitle="Fin"
      bigButtonText="Click Here exit"
      bigButtonImage="plus.png"
      bigButtonAction="rexit"
      bigButtonAlt="Click here to exit to the admin page"
-%>

<% include("QS/module/QS_header") %>
<%= include("QS/module/QS_infoBanner") %>

<center>			<div id="zone-content-wrapper">
				<div id="zone-content">					<a href="/cgi-bin/luci/admin" class="bigButton">
						<figure>
							<img src="<%=media%>/QS/images/bigstart.png" alt=<%=bigButtonAlt%> class="bigButton" />
							<figcaption><%=bigButtonText%></figcaption>
						</figure>
					</a>
				</div>
			</div>
</center>


<% include("QS/module/QS_footer") %>
