<%-
   topheader="Welcome Back!"
   subheading="As a final step, let's fill out your sharing preferences."
   PageTitle="Sharing Prefrences"

-%>
<% include("QS/module/QS_header") %>
<style>
function handleChange(cb) {
  display("Changed, new value = " + cb.checked);
}
</style>
<% include("QS/module/QS_infoBanner") %>
<% include("QS/module/QS_sharing") %>

  <div class="button-wrapper"><figure><input type="image" src="<%=media%>/QS/images/plusm.png" alt="Submit button" value="Submit"></br>
<figcaption>Click Here to Finish</figcaption></figure>
  </div>
</form>
<% include("QS/module/QS_footer") %>

