<%-
      topheader = uci_page
      subheading = page_instructions
      PageTitle = uci_page
      buttons={
              { text="Next", icon="arrow", action = next_page .. "?last=" .. uci_page},
      }
      if uci_last_page then
          table.insert(buttons,{ text="Go Back", icon="x", action = uci_last_page})
      end

   -%>
<% include("QS/module/QS_header") %>
<%= include("QS/module/QS_infoBanner") %>
<%= include("QS/module/QS_uci") %>
<%= include("QS/module/QS_buttons") %>
<% include("QS/module/QS_footer") %>
