				<!--<%+header%>
<%-
   topheader="Welcome"
   subheading="You are only 10 minutes away from having a node set up."
   bigButtonText="Click Here to Start"
   bigButtonImage="plus.png"
-%>-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Add mandatory header content -->
		<meta charset="utf-8" />
		<link type="image/png" href="images/favicon.ico" rel="shortcut icon" />
		<link rel="stylesheet" href="css/quickstart.css" type="text/css" />
		<!--script src="#" type="text/javascript"-->
		<title>Quickstart Mockup | %node%</title>
	</head>
	<body>
	<!--<% include("QS/module/QS_logoInfoBanner") %>
<% include("QS/module/QS_bigButton") %>
-->
		<div id="page">
			<header>
				<!-- top level navigational elements -->
				<div id="navbar-inners">
					<div class="color0"></div>
					<div class="color1"></div>
					<div class="color2"></div>
					<div class="color3"></div>
					<div class="color4"></div>
				</div>
				<!-- h1 functionally identical to title -->
				<div id="zone-menu-wrapper">
					<div id="region-branding">
						<img id="logo" alt="Commotion Wireless Project logo" src="images/commotion_kbabout_measure-03.png" />
					</div>
				</div>
				<div id="zone-preface-wrapper">
					<div id="zone-preface">
						<hr />
						<h1>Quickstart Mockup</h1>
						<!-- Rest of header content -->
						<p>Welcome! You are only 10 minutes away from having your node set up.</p>
					</div>
				</div>
			</header>

			<div id="zone-content-wrapper">
				<div id="zone-content">
					<!-- inline styles are placeholders only -->
					<img src="#" alt="action button" class="button" width="50" height="50" />
					<p>Click here to start</p>
				</div>
			</div>

<!--
<%+footer%>
-->
			<div id="zone-footer-wrapper">
				<div id="zone-footer">
<!--				  <a href="/cgi-bin/luci/QS/<%=action%>"><%=text%></a>-->
						<div class="button-wrapper">
						<a href="#">
							<figure>
								<img src="images/target.png" alt="Advanced Config Button" class="button" />
								<figcaption>Advanced Config</figcaption>
							</figure>
						</a>
						<a href="#">
							<figure>
								<img src="images/greendot.png" alt="Help Button" class="button" />
								<figcaption>Help</figcaption>
							</figure>
						</a>
						<a href="#">
							<figure>
								<img src="images/equal.png" alt="Admin Menu Button" class="button" />
								<figcaption>Admin Menu</figcaption>
							</figure>
						</a>
						<a href="#">
							<figure>
								<img src="images/quit.png" alt="Quit Quickstart Wizard Button" class="button" />
								<figcaption>Quit</figcaption>
							</figure>
						</a>
						</div>
				</div>
			</div>
	</body>
</html>
