/* Begin reset/Structural */
html, body, div {
border: 0 none;
font: inherit;
margin: 0;
outline: 0 none;
padding: 0;
vertical-align: baseline;
}
body, p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    font: 13px/1.5 AsapRegular,Arial,sans-serif;
}

h1, h2, h3, strong, bold {
	font-weight: bold;
}

h2 {
	font: 1.25em;
	margin-top: 2.25em;
	/*border-bottom: 1px solid #FF739C;*/
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
article, aside, figure, footer, header, hgroup, section {
    border: 0 none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
/* End reset/Structural */

/* Begin top color bars */
.navbar-inners {
height:20px;
margin:0;
width:100%;
background-color: #877AED;
}

.navbar-inners div {
height: 20px;
margin: 0;
display: block;
float: left;
}

.color0 {
background-color: #FE739B;
width: 5%;
}

.color1 {
background-color: #00FFCF;
width: 43.5%;
}

.color2 {
background-color: #C7BA38;
width: 3%;
}

.color3 {
background-color: #E8FF00;
width: 43%;
}

.color4 {
width: 5%;
}

/* End top color bars */
/* Begin Branding */
#zone-menu-wrapper {}
#region-branding {
margin-left:auto;
margin-right:auto;
height: 140px;
width: 250px;
}

#logo {
 align: center;
}
/* End Branding */

/* Begin header message */
#zone-preface-wrapper {
background-color: #000;
color: #fff;
min-height: 100px;
}
#zone-preface {
padding: 20px 10px;
margin-left: auto;
margin-right: auto;
width: 960px;
background-color: #000;
color: #fff;
vertical-align: baseline;
text-align: center;
}

#zone-preface hr {
background-color: #FF739C;
color: #FF739C;
margin: 0 auto 20px;
max-width: 460px;
}
/* End header message */

/* Begin main body */
#zone-content-wrapper {
min-height: 100px;
}

#zone-content {
padding: 20px 10px;
margin-left: auto;
margin-right: auto;
width: 960px;
vertical-align: baseline;
text-align: justified;
}

.help {
	/* image, alt text, and spacing */
}

.bigButton {
width: 50px;
height: 50px;
text-decoration: none;
color: #000;
/* May need to define width */
}

#meshDisplay {
	text-decoration: none;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 700px;
	text-align: center;
	vertical-align: middle;
}

table.near {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	font-size: 1.5em;
}

.near thead, .near tbody, .near caption, .near tr {
	width: 100%;
	vertical-align: middle;
}

.near thead, .near th {
	visibility: hidden;
}

.near a {
	text-decoration: none;
}

.near img {
	vertical-align: middle;
}

table.near tr > td:first-child {
	width: 50%;
	text-align: right;
	padding: 10px;
}

table.near tr > td:first-child + td {
	width: 50%;
	text-align: left;
	padding-left: 10px;
}

img.true {}
a.true {
	text-decoration: underline;
	color: #00FFCF;
}

/* End main body */

/* Begin footer */
#zone-footer-wrapper, #zone-button-wrapper {
color: #000;
min-height: 100px;
}

#zone-footer-wrapper, #zone-footer {
	background-color: #00FFCF;
}

#zone-footer, #zone-buttons{
width: 30%;
margin-left: auto;
margin-right: auto;
color: #000;
padding: 20px 20px;
}

/* Need div width for proper centering. Need to restructure buttons and admin-buttons -> http://stackoverflow.com/questions/4942779/resize-unknown-number-of-elements-to-fill-width-of-parent-container */
/*.button-wrapper {
margin-left: auto;
margin-right: auto;
display: block;
width: 350px;
}*/
.button-wrapper {
	width:100%;
	display: table;
	table-layout: fixed;
}

.button-wrapper ul {
	display: table-row;
	list-style-type: none;
}

.button-wrapper ul li {
	display: table-cell;
	width: 36 px;
}

.button-wrapper ul li a {
	text-decoration: none;
}

#zone-footer figure, #zone-buttons figure {
width: 60px;
/*margin: 10px;
display: inline-block;*/
margin-left: auto;
margin-right: auto;
display: block;
white-space: normal;
vertical-align: top;
text-align: center;
}

#zone-footer img.button {
width: 34px;
height: 50px;
display: block;
margin-left: auto;
margin-right: auto;
}

#zone-footer a, #zone-buttons a {
color:#000;
text-align: center;
}
/* End footer */
